body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-blend-mode: hard-light;
    background-color: black;
}

a {
    color: white;
    font-style: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all  ease-in   250ms;
}
a:hover {
    color: blueviolet;
}
.portfolio_Text {
color: white;
    font-style: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}